.content {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 255px;
    height: 280px;
    background-color: #D9D9D9;
    border-radius: 15px;
    margin-right: 91px;
    text-align: center; 
}

.content figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0; 
}

.content figure > img {
    width: 190px;
    height: auto;
}

.content label {
    font-size: 24px;
    margin-top: 10px; 
    text-align: center;
}


.content:hover{
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: inherit; 
    display: inline-block; 
}


@media (max-width: 440px) {
    
    .content {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        width: 98px;
        height: 94px;
        background-color: #D9D9D9;
        border-radius: 15px;
        margin-right: 11px;
        text-align: center; 
    }
    
    .content figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0; 
    }
    
    .content figure > img {
        width: 60px;
        height: auto;
    }
    
    .content label {
        font-size: 8px;
        line-height: auto;
        margin-top: 2px;
        text-align: center;
    }
    
    
    .content:hover{
        transform: scale(1.1);
    }
    
    a {
        text-decoration: none;
        color: inherit; 
        display: inline-block; 
    }
}