.footer{
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

.footer p{
    font-size: 14px;
    line-height: auto;
    font-weight: bold;
}

@media (max-width: 440px) {
    .footer{
        margin-top: 50px;
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
    }
    
    .footer p{
        font-size: 8px;
        line-height: auto;
        font-weight: bold;
    }
}