@import "hero.css";
@import "title.css";
@import "commons.css";
@import "description.css";
@import "container.css";
@import "content.css";
@import "footer.css";


body{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}