.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main a>img{
    width: 100px;
}

@media (max-width: 440px) {
    .main{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
       
    }
    
    .main a>img{
        width: 50px;
    }
    
}